table {
border-collapse: collapse;
width: 100%;
color: #588c7e;
font-family: monospace;
font-size: 25px;
text-align: left;
}

th {
background-color: #588c7e;
color: white;
}
#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
	#main-header a {
		color: white;
	}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

/*
 * Navegación
 */
nav {
	float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #0b76a6;
}
#text{
    height: 25px;
    border-radius: 2px;
    padding: 4px;
    border: solid thin #aaa;
    margin-top: 0.25%;
    margin-left: 25%;
    width: 50%;
}

#button{
    padding: 6px;
    margin-left: 45%;
    border-radius: 4px;
    width: 150px;
    color: white;
    background-color: #2592E6;
    border: none;
    margin-top: 1%;
    font-size: 20px;
}

#link{
    color: #2592E6;
}

body{
    background-color: #3d3d3d;
}

